@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700");

* {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-style: normal;
}

body {
  background-color: #f1f5ff;
  color: #333333;
  margin: 0;
  padding: 0;
}

header ul a {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  transition: all 0.4s ease-in-out;
  border-radius: 0.3rem;
  border-bottom: 4px solid transparent;
}

header ul a:hover {
  background-color: rgb(27, 147, 67);
  border-bottom: 4px solid rgb(23, 123, 77);
}

main {
  padding: 3rem;
}

footer nav a {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(59 130 246);
  padding: 0.5rem 1.2rem;
  transition: all 0.4s ease-in-out;
  border-radius: 0.3rem;
  border-left: 4px solid transparent;
}

footer nav a:hover {
  background-color: rgba(220, 238, 237, 0.544);
  border-left: 4px solid rgb(23, 70, 123);
  color: rgb(29 78 216);
}
